.form {
    min-width: 150px;
    max-width: 500px;
    margin: auto;
    margin-top: 10%;
    width: 60%;
  }
  .full-width {
    width: 100%;
    
  }
 .mat-title {font-family: 'Niramit', sans-serif !important;}

