
.head-book{
    margin: 1%;
    padding: 1%;
}
mat-list{
    margin: 10px;
}

.mat-form-field {
    margin-top: 16px;
  }
::ng-deep .mat-step-optional.ng-star-inserted {
    display: none !important;
}

