<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer 
  class="sidenav" 
  fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">หน้าแรก</a>
      <a mat-list-item [routerLink]="['หนังสือรับ']">ลงทะเบียนหนังสือรับ</a>
      <a mat-list-item href="#">ลงทะเบียนหนังสือส่ง</a>
      <a mat-list-item href="#">ข้อมูลส่วนตัว</a>
      <a mat-list-item [routerLink]="['login']" >เข้าสู่ระบบ</a>
      <a mat-list-item [routerLink]="['register']" routerLinkActive="active">ลงทะเบียน</a>
      <a mat-list-item href="#">ออกจากระบบ</a>
      <a mat-list-item style="font-size:12px">Beta DEV.  Watchakorn-18K</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: rgb(4, 100, 165);">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{title}}</span>
    </mat-toolbar>
    <ng-component>
      
    </ng-component>
  </mat-sidenav-content>
</mat-sidenav-container>
