/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; body,body * {
    font-family: 'Niramit', sans-serif !important;
    
} }
* {
    font-family: 'Niramit', sans-serif ;
    
}
h1,h2,h3,h4{font-family: 'Niramit', sans-serif !important;}